* {
  margin: 0;
}

.home-container {

  width: 100%;

  position: relative;

  height: 60.125em;
  display: grid;
  grid-template-columns: 18.75em auto;
}

.left-content {
  background: rgba(35, 48, 76, 1);

  position: relative;
}

.left-content img {
  position: absolute;
  left: 10.33%;
  right: 16.67%;
  top: 4.34%;
  bottom: 89.59%;

}

.sidebar-items {
  position: absolute;

  height: 531px;
  margin-left: 41px;
  margin-top: 209px;


  z-index: 1;

  left: 0;

  padding-top: 16px;
}

a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #53B9EA;
  padding: 6px 8px 6px 16px;

  color: #818181;
  display: block;
}

i {
  padding-right: 33px;
}

.right-content {
  background: #E5E5E5;
  position: relative;

}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 50px;


  width: 1140px;
  height: 69px;
  left: 300px;
  top: 0px;

  background: #FFFFFF;
}

.navbar h2 {
  position: static;
  height: 45px;
  margin-left: 50px;
  right: 83.75%;


  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #23304C;

  mix-blend-mode: normal;
  opacity: 0.9;

  /* Inside Auto Layout */

}

.nav-links {
  display: flex;

  width: 309px;
  height: 31px;
  left: 731px;
  top: 7px;

  justify-content: space-between;
  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 562px;
}

nav-item {
  width: 20.79px;
  height: 21.79px;

}

.search {

  width: 31px;
  height: 31px;

  margin-top: 2px;
  background: white;
  border: 1px solid white;
  mix-blend-mode: normal;
}

.menu-icn {

  width: 31px;
  height: 31px;

  margin-top: 7px;

  mix-blend-mode: normal;
}

.notification {

  color: white;
  width: 45px;
  height: 20px;

  margin-top: 6px;
  padding: 2px;
  /* Primary */
  border: 1px solid #2B83EA;
  background: #2B83EA;
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 14px;
}

.badge {

  width: 25px;
  height: 25px;

  margin-top: 3px;
}

.name {

  height: 20px;

  right: 0%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;

  color: #23304C;

  mix-blend-mode: normal
}

.dashboard-container h3 {


  margin-left: 100px;
  margin-top: 40px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  /* Dark */

  color: #444444;

}

.process-container {


  width: 1040px;
  height: 410px;
  margin-left: 100px;
  margin-top: 30px;
  line-height: 10px;
  background: #FFFFFF;
  border-radius: 8px;
}

.process-title {
  position: absolute;
  width: 702px;
  height: 64px;
  margin-left: 33px;
  top: 213px;
}

.process-title h4 {

  width: 493px;
  height: 27px;


  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  /* identical to box height */


  /* Dark */

  color: #444444;

}

.process-title p {

  width: 702px;
  height: 27px;


  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  /* Secondary Text */

  color: #4C5565;
}

.process-details {

  position: absolute;
  width: 981px;
  height: 212px;
  margin-left: 50px;
  top: 313px;
}

.process-ellipse {
  margin-left: 95px;


}

.dot {

  width: 305px;
  height: 6px;
  left: 492px;
  top: 325px;

  height: 8px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 10px;
}

.further-process {
  display: flex;
  justify-content: space-between;


  width: 981px;
  height: 100px;
  margin-left: -20px;
  margin-top: 40px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.kyc {



  left: 682px;
  top: 373px;

}

.kyc p {
  font-size: 12px;
  width: 326px;
  height: 63px;
}

.payment p {
  font-size: 12px;
  width: 250px;
  height: 42px;
}

.payment-btn {
  padding: 8px 17px;
  color: white;
  border: 1px solid #2B83EA;
  width: 140px;
  height: 43px;
  left: 682px;
  top: 482px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.5px;



  /* Primary */

  background: #2B83EA;
  border-radius: 7px;
}

.filter {

  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 78px;
  margin-left: 100px;
  margin-top: 30px;
  line-height: 10px;
  background: #FFFFFF;
  border-radius: 8px;
}

.date-filter {


  width: 338px;
  height: 51px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin: 12px;
  width: 338px;
  height: 51px;
  left: 14px;
  top: 13px;
}

.row {



  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin: 12px;
  width: 338px;
  height: 51px;
  left: 14px;
  top: 13px;
  display: flex;

}

/* Create two equal columns that sits next to each other */
.column {
  flex: 40% 60%;
  padding: 10px;

  /* Should be removed. Only for demonstration */
}

.cln-icon {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 6px;
  padding-top: 13px;
  color: #444444;
}

.cln-span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 6px;

}



.cln-right {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.cln-right {

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 12px;
  /* identical to box height */


  /* Dark */

  color: #444444;

}

.row2 {



  background: #FFFFFF;

  box-sizing: border-box;
  border-radius: 3px;
  margin: 12px;
  width: 345.42px;
  height: 35.06px;
  left: 14px;
  top: 13px;
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

}


.cln2-right {
  border-left: 1px solid #444444;
  height: 20px;
}

.settlement {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: -6px;
  text-decoration: none;
  color: #2B83EA;
}



.payment-details {
  width: 1040px;
  height: 98px;
  margin-left: 100px;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
}

.payment-details h4 {

  left: 14px;
  top: 17px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  /* identical to box height */


  /* Dark */

  color: #444444;
  padding: 10px;
}

.payment-details p {
  width: 45px;
  height: 27px;
  left: 26px;
  top: 43px;
  padding: 1px 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  /* Dark */

  color: #444444;
}

.volume {
  width: 325px;
  height: 97px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.no-payments {
  width: 325px;
  height: 97px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.refund {
  width: 325px;
  height: 97px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}